<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='/favicon.ico') }}">

    <link rel="stylesheet" href="./static/css/common.css" />
    <link rel="stylesheet" href="./static/css/navbar.css" />
    <link rel="stylesheet" href="./static/css/footer.css" />
    <link rel="stylesheet" href="./static/css/cook.css" />
    <title>IIITeatz</title>
  </head>

  <body>
    <!-- header -->

    <div class="meanius">
      <img
        src="./static/images/logo.jpeg"
        alt="Meanius Logo"
        width="60"
        class="meanius-item"
      />
     <p class="meanius-item"></p>
      <img
        src="./static/images/banner_FEF665.png"
        alt="Meanius"
        width="250"
        class="meanius-item"
      />
    </div>
    <div class="navbar">
      <a href="index.html">About</a>
      <a href="menu.html">Menu</a>
      <a href="orders.html">Present Orders</a>
      <a href="cook.html" class="navbar-selected">Cook Special</a>
      <a href="https://github.com/CS6-201-ISS-S23/project-diss">Contribute</a>
    </div>



     <!-- forms and stuff -->


    <h1>Sign IN</h1>
    <form class="container" action="{{ url_for('cook') }}" method="POST" onsubmit="return validateForm1()">
        <input type="hidden" name="action" value="signin">
        <label for="username">Username:</label>
        <input type="text" id="username1" name="username1"><br>
        <label for="password">Password:</label>
        <input type="password" id="password1" name="password1"><br>
        <input type="submit" value="Sign In">
    </form>
     {% with messages = get_flashed_messages() %}
      {% if messages %}
        <p class="alert alert-danger" style="color:red" role="alert">
          {{ messages[0] }}
        </p>
      {% endif %}
    {% endwith %} 
 
    <h1>Don't Already have an account? Then Sign UP</h1>


    <form class="container" action="{{ url_for('cook') }}" method="POST" onsubmit="return validateForm2()">
        <input type="hidden" name="action" value="signup">
    <label for="username">Username:</label>
    <input type="text" id="username2" name="username2"><br>
    <label for="password">Password:</label>
    <input type="password" id="password2" name="password2"><br>
    <label for="confirm_password">Confirm Password:</label>
    <input type="password" id="confirm_password2" name="confirm_password2"><br>
    <input type="submit" value="Sign Up">
   </form>


    <!-- footer -->

    <div class="footer">
      <div class="footer-col">
        <div style="align-self: center">
          <img src="./static/images/logo.jpeg" height="150px" />
        </div>
        <div class="footer-box footer-box-big" style="margin-top: 0">
          "Laughter is brightest where food is best"<br /><br />
          - Irish Proverb
        </div>
      </div>
      <div class="footer-line"></div>
      <div class="footer-box footer-box-big footer-scroll-box">
        <b><u>Credits</u></b
        ><br /><br />
        <div class="footer-box footer-box-small">
          <a href="https://chat.openai.com" target="_blank"
            >Chat GPT <i class="link-icon"></i
          ></a>
        </div>
       <div class="footer-box footer-box-small">
          <a href="https://fonts.google.com" target="_blank"
            >Google Fonts <i class="link-icon"></i
          ></a>
        </div>
        <div class="footer-box footer-box-small">
          <a href="https://fontawesome.com" target="_blank"
            >Font Awesome <i class="link-icon"></i>
          </a>
        </div>
        <div class="footer-box footer-box-small">
          <a href="https://reddit.com" target="_blank"
            >Reddit <i class="link-icon"></i>
          </a>
       </div>
        <div class="footer-box footer-box-small">
          <a href="https://stackoverflow.com" target="_blank"
            >StackOverflow <i class="link-icon"></i>
          </a>
        </div>
      </div>
      <div class="footer-line"></div>
      <div class="footer-col">
        <div class="footer-box footer-box-big footer-col-3-grid">
          <div class="footer-box footer-box-small">
            <a href="menu.html">Menu</a>
          </div>
          <div class="footer-box footer-box-small">
            <a href="index.html">About</a>
          </div>
          <div class="footer-box footer-box-small">
            <a href="orders.html">Present Orders</a>
          </div>
          <div class="footer-box footer-box-small">
            <a href="cook.html">Cook</a>
          </div>
       </div>
        <div class="footer-box footer-box-big" style="font-size: 15px">
          <p style="font-size: 15px">IIIT, Gacchibowli, Hyderabad</p>
          <a href="http://www.wtfpl.net/" target="_blank" rel="nofollow"
            >License <i class="link-icon"></i
          ></a>
        </div>
      </div>
    </div>

<script>
function validateForm1() {
    var username = document.getElementById("username1").value;
    var password = document.getElementById("password1").value;
    if (username == "" || password == "" ) {
        alert("Please fill in all fields.");
        return false;
    }
    return true;
}

function validateForm2() {
    var username = document.getElementById("username2").value;
    var password = document.getElementById("password2").value;
    var confirm_password = document.getElementById("confirm_password2").value;
    if (username == "" || password == "" ) {
        alert("Please fill in all fields.");
        return false;
    }
    if (password != confirm_password) {
        alert("Passwords do not match.");
        return false;
    }
   return true;
}

</script>

 </body>

</html>